/* 전체 선택자 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 태그 선택자 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* 아이디 선택자 */
#main-header{
    background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 200px;
}
/* 자손 선택자 */
.sidebar nav ul{
    list-style: none; /*점을 없애줌*/
    padding: 10px; /*ul 안쪽에 여백*/
}

.sidebar nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    background-color: skyblue;
    text-decoration: none; /*밑줄 없애기*/
    margin-bottom: 5px;
    transition: background-color 0.3s; /*마우스 올리면 부드러운 변화*/
}
/*가상 클래스 선택자*/
.sidebar nav ul li a:hover{
    background-color: rgb(74, 156, 188);
}

/* 자식 선택자 */
.signup-form > form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 0 auto;
    width: 300px;
}

/* 인접 형제 선택자 */
.signup-form label + input {
    margin-right: 5px;
}

/* 가상 요소 선택자 */
.signup-form label[for="name"]::before{
    content: '👤';
    margin-right: 5px;
}
/* 가상 요소 선택자 */
.signup-form label[for="email"]::before{
    content: '📧';
    margin-right: 5px;
}
/* 가상 요소 선택자 */
.signup-form label[for="password"]::before{
    content: '⌨️';
    margin-right: 5px;
}
/* 가상 요소 선택자 */
.signup-form label[for="gender"]::before{
    content: '👥';
    margin-right: 5px;
}
/* 박스 모델 속성 */
.signup-form input, .signup-form button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.signup-form button{
    background-color: skyblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.signup-form button:hover {
    background-color: rgb(74, 156, 188);
}
.sidebar{
    position: absolute;
    top: 220px;
    left: 20px;
    width: 200px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex: 1; /*콘텐츠 영역이 남은 공간을 차지하도록*/
}
.sidebar nav ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
button:hover {
    animation: pulse 0.5s;
}
@keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
}

/* 푸터 스타일 */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* fixed로 변경하여 화면 하단에 고정 */
  bottom: 0;
  width: 100%;
}

/* 일반 형제 선택자 */
footer p ~ p {
  margin-top: 10px;
}