<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>OCR 이미지 업로드</title>
    <script src="https://cdn.jsdelivr.net/npm/tesseract.js@2.1.5/dist/tesseract.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Gamja+Flower&display=swap" rel="stylesheet">
    <style>
  canvas { border: 1px solid #ccc; }
</style>
</head>
<body>
    <!-- 로그아웃 버튼 영역 -->
    <div class="top-bar">
        <p class="welcome">{{ username }}님</p>
        <a href="{{ url_for('auth.logout') }}" class="logout-btn">로그아웃</a>
    </div>
    <div class="top-band"></div>
    <div class="top-band2"></div>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="SMART NOTE Q 로고" class="logo">
    </div>
    <div class="logo-container2">
        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="SMART NOTE Q 로고 설명" class="logo">
    </div>
    <div class="star-container">
        <img src="{{ url_for('static', filename='images/star1.png') }}" alt="star1" class="logo">
    </div>
    <div class="cloud-container">
        <img src="{{ url_for('static', filename='images/cloud.png') }}" alt="cloud1" class="logo">
    </div>
    <!-- <h3>OCR & chatgpt 기반의 똑똑한 텍스트 변환 서비스예요.</h3> -->

    <form id="upload-form" enctype="multipart/form-data">
    <div class="form-top">
        <input type="file" id="file-input" name="file" accept="image/*" required>
        <button type="submit">업로드</button>
    </div>
    <div id="preview"></div>
    </form>

    <div id="progress">
        <p id="loadingText"></p>
        <div id="bar-container"><div id="bar"></div></div>
    </div>


    <div id="result">
        <div id="tesseract-result"></div>
        <div id="easyocr-result"></div>
        <!-- OCR 결과 시각화용 캔버스 -->
         <div id="canvas-result">
        <canvas id="ocrCanvas" style="border:1px solid #ccc;"></canvas>
            </div>
    </div>
    <script src="{{ url_for('static', filename='trocr.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
